body {
  font-family: "Segoe UI", sans-serif;
  background: rgba(255, 255, 255, 1);
}

.App {
  padding: 0 350px;
}

.container {
  display: flex;
  height: 100%;
}

.cf-sidebar {
  overflow-y: scroll;
  scrollbar-width: none;
  border-right: 1px solid rgb(223, 223, 223);
  padding: 30px 25px;
  height: 100vh;
  min-width: 250px;
  .cf-sidebar-title {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 7px;
  }
  .bp3-menu {
    padding: 0;
    margin-top: 1rem;
  }
}

.content {
  padding: 30px 50px;
  width: 100%;
}

.page-title {
  margin-bottom: 2rem !important;
}

.page-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.cf-footer-note {
  font-size: 12px;
  margin-top: 8rem;
}