/* TODO:
    -- Use BEM and rewrite all the styling
*/
body {
  font-family: "Segoe UI", sans-serif;
  background: rgba(255, 255, 255, 1);
}

.App {
  padding: 0.8rem 5rem;
}

.container {
  display: flex;
  height: 100%;
}

.cf-sidebar {
  overflow-y: scroll;
  scrollbar-width: none;
  border-right: 1px solid rgb(223, 223, 223);
  padding: 30px 25px;
  height: 100vh;
  min-width: 250px;
  .cf-sidebar-title {
    font-size: 20px;
    font-weight: 600;
    padding: 5px 7px;
  }
  .cf-sidebar-welcome {
    padding: 5px 7px;
    font-style: italic;
  }
  .bp3-menu {
    padding: 0;
    margin-top: 1rem;
  }
}

.content {
  padding: 30px 50px;
  width: 100%;
}

.page-title {
  margin-bottom: 2rem !important;
}

.page-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.combo-cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .bp3-card {
    margin-bottom: 20px;
    padding: 0;
    .card-img-top {
      height: 130px;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .card-body {
      padding: 20px;
      .combo-heading {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        h5 {
          margin-left: 10px;
          margin-bottom: 0;
        }
        .character-thumbnail {
          width: 70px;
        }
      }
      .combo-tags {
        margin-right: 10px;
      }
    }
    .card-footer {
      .card-footer-action {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        background-color: rgba(167, 182, 194, 0.3);
        &:hover {
          background-color: rgba(167, 182, 194, 0.4);
        }
      }
    }
  }
}

.cf-combo-string {
  list-style: none;
  padding: 0;
  li {
    display: inline;
  }
}

.command {
  width: 35px;
  height: auto;
  margin-right: 0.5rem;
}

.cf-footer-note {
  font-size: 12px;
  margin-top: 8rem;
}